# Expo Configuration
# EXPO_PUBLIC_API_URL: La URL de la API del backend (Usar tu IP local para emulador/dispositivo móvil)
EXPO_PUBLIC_API_URL=http://192.168.x.x:3000/api
# EXPO_PUBLIC_DEV_MODE: Si se debe permitir datos de prueba cuando el backend falla o no hay sesión
EXPO_PUBLIC_DEV_MODE=true

# Firebase App Config
EXPO_PUBLIC_FIREBASE_API_KEY=tu_api_key
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=tu_proyecto.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=tu_proyecto
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=tu_proyecto.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGE_SENDER_ID=tu_sender_id
EXPO_PUBLIC_FIREBASE_APP_ID=tu_app_id
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=tu_measurement_id
